<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>API管理 - ApiServ</title>
    {{template "head.html" .}}
</head>
<body id="as-api-list">
    <div class="container-fluid">
        <div class="container">
            <div class="jumbotron as-mgt-50px">
                <h1>API管理</h1>
                <p>在这里，您可以通过新建、删除、编辑等操作管理您的API <!--，以及通过标签对您的API进行分组--></p>
                <p>
                    <a href="{{urlfor "IndexController.Index"}}" class="btn btn-primary"> <i class="fa fa-home"></i> 首页</a>
                    <a href="{{urlfor "UserController.ApiCreate"}}" class="btn btn-primary"> <i class="fa fa-plus"></i> 新建接口</a>
                    <a href="#" class="btn btn-primary" target="_blank"> <i class="fa fa-question"></i> 使用帮助</a>
                    <a href="{{urlfor "BaseController.Logout"}}" class="btn btn-primary"> <i class="fa fa-sign-out"></i> 退出登录</a>
                </p>
            </div>

            <div class="row">
                <div class="col-xs-12 as-mgt-50px text-right">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>用户登录接口</strong>
                            <span class="pull-right">
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-pencil"></i> 编辑</a>  <span> | </span>
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div>请求API</div>
                                    <div class="help-block">/user/login</div>
                                </li>
                                <li>
                                    <div>请求URL</div>
                                    <div class="help-block">http://apiserv.me/api/hung/user/login</div>
                                </li>
                                <li>
                                    <div>请求方法</div>
                                    <div class="help-block">
                                        <span class="label label-success">GET</span>
                                        <span class="label label-success">POST</span>
                                        <span class="label label-success">DELETE</span>
                                        <span class="label label-success">HEAD</span>
                                        <span class="label label-success">OPTIONS</span>
                                        <span class="label label-success">PUT</span>
                                    </div>
                                </li>
                                <li>
                                    <div>请求参数</div>
                                    <div class="help-block">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>参数名</th>
                                                        <th>参数类型</th>
                                                        <th>参数说明</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>username</td>
                                                        <td>string</td>
                                                        <td>用户名，2-10个字符</td>
                                                    </tr>
                                                    <tr>
                                                        <td>password</td>
                                                        <td>string</td>
                                                        <td>登录密码</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>成功时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                                <li>
                                    <div>失败时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>用户登录接口</strong>
                            <span class="pull-right">
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-pencil"></i> 编辑</a>  <span> | </span>
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div>请求API</div>
                                    <div class="help-block">/user/login</div>
                                </li>
                                <li>
                                    <div>请求URL</div>
                                    <div class="help-block">http://apiserv.me/api/hung/user/login</div>
                                </li>
                                <li>
                                    <div>请求方法</div>
                                    <div class="help-block">
                                        <span class="label label-success">GET</span>
                                        <span class="label label-success">POST</span>
                                        <span class="label label-success">DELETE</span>
                                        <span class="label label-success">HEAD</span>
                                        <span class="label label-success">OPTIONS</span>
                                        <span class="label label-success">PUT</span>
                                    </div>
                                </li>
                                <li>
                                    <div>请求参数</div>
                                    <div class="help-block">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>参数名</th>
                                                    <th>参数类型</th>
                                                    <th>参数说明</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>username</td>
                                                    <td>string</td>
                                                    <td>用户名，2-10个字符</td>
                                                </tr>
                                                <tr>
                                                    <td>password</td>
                                                    <td>string</td>
                                                    <td>登录密码</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>成功时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                                <li>
                                    <div>失败时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>用户登录接口</strong>
                            <span class="pull-right">
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-pencil"></i> 编辑</a>  <span> | </span>
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div>请求API</div>
                                    <div class="help-block">/user/login</div>
                                </li>
                                <li>
                                    <div>请求URL</div>
                                    <div class="help-block">http://apiserv.me/api/hung/user/login</div>
                                </li>
                                <li>
                                    <div>请求方法</div>
                                    <div class="help-block">
                                        <span class="label label-success">GET</span>
                                        <span class="label label-success">POST</span>
                                        <span class="label label-success">DELETE</span>
                                        <span class="label label-success">HEAD</span>
                                        <span class="label label-success">OPTIONS</span>
                                        <span class="label label-success">PUT</span>
                                    </div>
                                </li>
                                <li>
                                    <div>请求参数</div>
                                    <div class="help-block">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>参数名</th>
                                                    <th>参数类型</th>
                                                    <th>参数说明</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>username</td>
                                                    <td>string</td>
                                                    <td>用户名，2-10个字符</td>
                                                </tr>
                                                <tr>
                                                    <td>password</td>
                                                    <td>string</td>
                                                    <td>登录密码</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>成功时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                                <li>
                                    <div>失败时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>用户登录接口</strong>
                            <span class="pull-right">
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-pencil"></i> 编辑</a>  <span> | </span>
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div>请求API</div>
                                    <div class="help-block">/user/login</div>
                                </li>
                                <li>
                                    <div>请求URL</div>
                                    <div class="help-block">http://apiserv.me/api/hung/user/login</div>
                                </li>
                                <li>
                                    <div>请求方法</div>
                                    <div class="help-block">
                                        <span class="label label-success">GET</span>
                                        <span class="label label-success">POST</span>
                                        <span class="label label-success">DELETE</span>
                                        <span class="label label-success">HEAD</span>
                                        <span class="label label-success">OPTIONS</span>
                                        <span class="label label-success">PUT</span>
                                    </div>
                                </li>
                                <li>
                                    <div>请求参数</div>
                                    <div class="help-block">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>参数名</th>
                                                    <th>参数类型</th>
                                                    <th>参数说明</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>username</td>
                                                    <td>string</td>
                                                    <td>用户名，2-10个字符</td>
                                                </tr>
                                                <tr>
                                                    <td>password</td>
                                                    <td>string</td>
                                                    <td>登录密码</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>成功时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                                <li>
                                    <div>失败时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>用户登录接口</strong>
                            <span class="pull-right">
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-pencil"></i> 编辑</a>  <span> | </span>
                                <a href="{{urlfor "IndexController.Index"}}"> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div>请求API</div>
                                    <div class="help-block">/user/login</div>
                                </li>
                                <li>
                                    <div>请求URL</div>
                                    <div class="help-block">http://apiserv.me/api/hung/user/login</div>
                                </li>
                                <li>
                                    <div>请求方法</div>
                                    <div class="help-block">
                                        <span class="label label-success">GET</span>
                                        <span class="label label-success">POST</span>
                                        <span class="label label-success">DELETE</span>
                                        <span class="label label-success">HEAD</span>
                                        <span class="label label-success">OPTIONS</span>
                                        <span class="label label-success">PUT</span>
                                    </div>
                                </li>
                                <li>
                                    <div>请求参数</div>
                                    <div class="help-block">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>参数名</th>
                                                    <th>参数类型</th>
                                                    <th>参数说明</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>username</td>
                                                    <td>string</td>
                                                    <td>用户名，2-10个字符</td>
                                                </tr>
                                                <tr>
                                                    <td>password</td>
                                                    <td>string</td>
                                                    <td>登录密码</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>成功时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                                <li>
                                    <div>失败时JSON响应</div>
                                    <div class="help-block">
                                        <textarea class="hidden">
                                            {
                                              "id": 1001,
                                              "type": "donut",
                                              "name": "Cake",
                                              "description": "http://www.jq22.com",
                                              "price": 2.55,
                                              "available": {
                                                store: 42,
                                                warehouse: 600
                                              },
                                              "topping": [
                                                { "id": 5001, "type": "None" },
                                                { "id": 5002, "type": "Glazed" },
                                                { "id": 5005, "type": "Sugar" },
                                                { "id": 5003, "type": "Chocolate" },
                                                { "id": 5004, "type": "Maple" }
                                              ]
                                            }
                                        </textarea>
                                        <pre class="json-renderer"></pre>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  </div>
    {{template "foot.html" .}}
</body>
</html>
