<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{.Username}}的API接口 - ApiServ</title>
    {{template "head.html" .}}
</head>
<body id="as-api-list">
    <div class="container-fluid">
        <div class="container">
            <div class="jumbotron as-mgt-50px">
                <h1>API接口查询</h1>
                <p>您目前查看的是 {{.Username}} 的接口数据</p>
                <p>
                    <a href="{{urlfor "IndexController.Index"}}" class="btn btn-primary"> <i class="fa fa-home"></i> 首页</a>
                    {{if gt $.LoginUser.Id 0}}
                        <a href="{{urlfor "UserController.ApiCreate"}}" class="btn btn-primary"> <i class="fa fa-plus"></i> 新建接口</a>
                        <a href="{{urlfor "UserController.Apis"}}" class="btn btn-primary"> <i class="fa fa-cogs"></i> 管理我的接口</a>
                        <a href="{{urlfor "BaseController.Logout"}}" class="btn btn-primary"> <i class="fa fa-sign-out"></i> 退出登录</a>
                    {{else}}
                        <a href="{{urlfor "BaseController.Reg"}}" class="btn btn-primary" title="码上注册"> <i class="fa fa-user-o"></i> 码上注册</a>
                        <a href="{{urlfor "BaseController.Login"}}" class="btn btn-primary" title="码上登录"> <i class="fa fa-sign-in"></i> 码上登录</a>
                    {{end}}
                </p>
            </div>

            <div class="row">
                {{/*<div class="col-xs-12 as-mgt-50px text-right">*/}}
                    {{/*<ul class="pagination">*/}}
                        {{/*<li><a href="#">&laquo;</a></li>*/}}
                        {{/*<li class="active"><a href="#">1</a></li>*/}}
                        {{/*<li class="disabled"><a href="#">2</a></li>*/}}
                        {{/*<li><a href="#">3</a></li>*/}}
                        {{/*<li><a href="#">4</a></li>*/}}
                        {{/*<li><a href="#">5</a></li>*/}}
                        {{/*<li><a href="#">&raquo;</a></li>*/}}
                    {{/*</ul>*/}}
                {{/*</div>*/}}
                <div class="col-xs-12">


                    <div class="panel-group" id="accordion">
                        {{range $idx,$val:=$.Apis}}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{.Id}}">{{.Title}}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{.Id}}" class="panel-collapse collapse {{if eq $idx 0}}in{{end}}">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                <div>请求API</div>
                                                <div class="help-block">{{.Api}}</div>
                                            </li>
                                            <li>
                                                <div>请求URL</div>
                                                <div class="help-block">{{$.ApiDomain}}/api/{{$.Username}}/{{TrimLeft .Api " /"}}</div>
                                            </li>
                                            <li>
                                                <div>请求方法</div>
                                                <div class="help-block">
                                                {{range (Split .Methods ",")}}
                                                    <span class="label label-success">{{.}}</span>
                                                {{end}}
                                                </div>
                                            </li>
                                            <li>
                                                <div>请求参数</div>
                                                <div class="help-block">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>参数名</th>
                                                                <th>参数类型</th>
                                                                <th>参数说明</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{range (HandleParams .Params)}}
                                                            <tr>
                                                                <td>{{.ParamsName}}</td>
                                                                <td>{{.ParamsType}}</td>
                                                                <td>{{.ParamsState}}</td>
                                                            </tr>
                                                            {{end}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>成功时JSON响应</div>
                                                <div class="help-block">
                                                    <div class="help-block">格式化数据 <i class="fa fa-hand-o-down"></i> </div>
                                                    <pre class="json-renderer"></pre>
                                                    <div class="help-block">原数据 <i class="fa fa-hand-o-down"></i> </div>
                                                    <textarea class="form-control" rows="2">{{.JsonSucc}}</textarea>

                                                </div>
                                            </li>
                                            <li>
                                                <div>失败时JSON响应</div>
                                                <div class="help-block">
                                                    <div class="help-block">格式化数据 <i class="fa fa-hand-o-down"></i> </div>
                                                    <pre class="json-renderer"></pre>
                                                    <div class="help-block">原数据 <i class="fa fa-hand-o-down"></i> </div>
                                                    <textarea class="form-control" rows="2">{{.JsonErr}}</textarea>
                                                </div>
                                            </li>
                                            <li>
                                                <div>响应字段</div>
                                                <div class="help-block">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>字段名</th>
                                                                <th>字段说明</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{range (HandleResp .Resp)}}
                                                            <tr>
                                                                <td>{{.ResponseField}}</td>
                                                                <td>{{.ResponseState}}</td>
                                                            </tr>
                                                            {{end}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
  </div>
    {{template "foot.html" .}}
</body>
</html>
